# Python
__pycache__/
.venv/
*.pyc
.env

# Terraform (WICHTIG: Enthält sensible Azure Keys!)
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Vektor Datenbank
chroma_data/

# Mac OS
.DS_Store